<template>
    <div class="background">  

        <div class="row">
            <div class="col-6 offset-md-3 mt-5">

                <b-jumbotron class="jumbo" style="width: 100%;">

                    <div class="wi-100" v-if="started == false">
                        <center>
                            <h3 class="white">The Hanoi Tower Game</h3>
                        </center>
                        <center>
                            <div class="options-game">
                                <p @click="startGame" class="h4 clickable white">Start</p><br> 
                                <p @click="startGame" class="h4 clickable white">Exit</p> 
                            </div>
                        </center>
                    </div>

                    <div class="wi-100" v-else>
                            <div class="row wi-100">  
                                <div class="col-4">

                                    <draggable class="list-group torre torre1 parent wi-100" :list="blocos1" group="people">
                                        <div 
                                            class="anotherparent wi-100"
                                            v-for="(element) in blocos1"
                                            :key="element.name" 
                                        >
                                        <center>
                                            <span  v-bind:class="'list-group-item size'+element.id">
                                            </span>
                                        </center>
                                        </div>
                                    </draggable> 

                                </div>

                                <div class="col-4">
                                    <draggable class="list-group torre torre2 parent" :list="blocos2" group="people">
                                        <div 
                                        v-for="(element) in blocos2"
                                        :key="element.name" 
                                        >
                                            <center>
                                                <span  v-bind:class="'list-group-item size'+element.id">
                                                    
                                                </span>
                                            </center>
                                        </div>
                                    </draggable> 
                                </div>

                                <div class="col-4">
                                    <draggable class="list-group torre torre3 parent" :list="blocos3" group="people">
                                        <div 
                                        v-for="(element) in blocos3"
                                        :key="element.name" 
                                        >
                                        <center>
                                            <span  v-bind:class="'list-group-item size'+element.id">
                                                
                                            </span>
                                        </center>
                                        </div>
                                    </draggable> 
                                </div>
                            </div>

                            <div class="row" v-if="erroMovimento">
                                <div class="col-12 mt-5">
                                    <center>
                                        <p class="erro-font">Movimento não permitido</p>
                                        <img src="../assets/error.gif" height="100px">
                                    </center>
                                </div>
                            </div>

                    </div>
                </b-jumbotron> 
            </div> 
        </div>
    </div>
</template>

<script> 

import draggable from 'vuedraggable'

export default {
    name: 'HanoiGame',
    components: {
        draggable
    },
    data(){
        return{
            started: false,
            erroMovimento: false,
            enabled: true,
            blocos1: [
                { name: "1", id: 1 },
                { name: "2", id: 2 },
                { name: "3", id: 3 },
                { name: "4", id: 4 }
            ],
            blocos2: [],
            blocos3: [],

            oldBloco1: [],
            oldBloco2: [],
            oldBloco3: [],

            blocoVencedor: [],

            dragging: true

        }
    },

    methods: {

        startGame()
        { 
            this.started = true
        },

        validaBloco()
        {
            console.log('clicando')
        },

        setaErro()
        {
            this.erroMovimento = true
        },

        removeErro()
        { 
            setTimeout( this.setaErroFalse, 3500); 
        },

        setaErroFalse()
        {
            this.erroMovimento = false
        },

        validacaoBloco(val)
        { 
            let size = val.length
            let erro = false 
            if ( size > 0 ){ 
                let bloco = val  
                for (let index = 0; index < size; index++) { 
                    if(typeof bloco[index + 1] !== 'undefined'){
                        if( bloco[index].id >= bloco[index + 1].id  ){  
                            this.setaErro()
                            this.removeErro()
                            erro  = true
                            index = 1000
                        }
                    }
                }
            }

            if(erro)
            {   
                console.log("tem erro") 
                this.corrigeBloco()  
            }else{
                console.log("nao tem erro")
                 this.atalizaBlocoOld()
            }
        },

        verificaVitoria(){
            if(this.bloco3 == this.blocoVencedor){
                alert('Parabéns vc venceu');
            }
        },

        retornaValorblocos(bloco)
        {
            
            let size   = bloco.length
            let blocos = []

            if(size > 0)
            {

                bloco.forEach( (element, index) => { 
                    blocos[index] = element 
                });
            }

            return blocos
        },

        atalizaBlocoOld(){ 

            this.oldBloco1 = this.retornaValorblocos(this.blocos1)
            this.oldBloco2 = this.retornaValorblocos(this.blocos2)
            this.oldBloco3 = this.retornaValorblocos(this.blocos3)
             
        },

        corrigeBloco()
        { 
            this.blocos1 = this.oldBloco1
            this.blocos2 = this.oldBloco2
            this.blocos3 = this.oldBloco3 
        },

        criaBlocoVencedor(){
            this.blocoVencedor = this.retornaValorblocos( this.blocos1 )
        }
 
    },

    watch:{

        blocos1: function (bloco)
        { 
            this.validacaoBloco(bloco) 
        },

        blocos2: function(val)
        {
            this.validacaoBloco(val) 
        },

        blocos3: function(val)
        {
            this.validacaoBloco(val)  
            this.verificaVitoria()
        }

    },

    created() {
 
        this.atalizaBlocoOld()
        this.criaBlocoVencedor()

    }
}

</script>

<style scoped> 

    *{
        color: white;
    }

    @font-face{
        font-family: "8bit";
        src: url('../assets/fonts/8bit.ttf');
    }

    .background{
        /* background-image: url('../assets/wallpaper.jpg'); */
        background-image: url('../assets/wall.gif');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        min-height: 100vh;
        overflow: hidden;
    }

    .error{
        background-image: url('../assets/error.gif');
        /* background-repeat: no-repeat; */
        /* background-attachment: fixed; */
        /* background-size: cover;  */
        /* overflow: hidden; */
    }

    .white{
        color: white !important;
    }

    .erro-font{
        color: white;
    }

    .clickable{
        cursor: pointer;  
    }

    .jumbo{
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 600px;
    }

    .wi-100{
        width:100%;
    }

    *{
        font-family: '8bit';
        color: black;
    }

    .options-game{
        margin-top: 150px;
    }

    .parent{
        border: 1px dashed white; 
        display: table-cell;
        vertical-align: bottom;
        width: auto;
    }

    .anotherparent{  
    }

    .list-group{
        cursor: grab;  
    }

    .list-group-item{
        min-height: 40px;
        border: 1px solid red;
        display: table-cell;
        /* bottom: 0px !important; */
        position: relative;
    }

    .size1{
        border: 3px groove brown;
        width: 50px !important;
        background-color: brown;
    }

    .size2{
        border: 3px groove brown;
        width: 80px !important;
        background-color: gray;
    }

    .size3{
        border: 3px groove brown;
        width: 110px !important;
        background-color: indigo;
    }

    .size4{
        border: 3px groove brown;
        width: 140px !important;
        background-color: DarkSlateGrey; 
    }

    .torre{
        min-height: 250px;
        width: 500px;
        border-radius: 10px;
        transition: 1s !important;
    }

    .torre1{
        background-color: rgba(0, 200, 0, 0.2); 
        height: 300px; 
    }

    .torre2{
        height: 300px;
        background-color: rgba(200, 100, 0, 0.2);  
    }

    .torre3{
        height: 300px;
        background-color: rgba(0, 0, 200, 0.2);
    }

</style>