<template>
  <div id="app"> 
     
    <router-view/>
  </div>
</template>

<style>

html{
  padding: 0px;
}

#app {
  padding: 0px !important;
  margin: 0px !important;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
